input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: yellow;
  color: white;
  border-radius: 10px;
}

.data {
  height: 100vh;
  width: 100%;
  /* background-color: black; */
  color: #fff;
  text-align: center;
}

.data form {
  height: 100vh;
  width: 400px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: none;
}

.data form h2 {
  text-decoration: underline;
}

.data form input {
  width: 100%;
  color: black;
}

.data form textarea {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  width: 100%;
  color: black;
}

@media (max-width: 425px) {
  .data form {
    width: 90%;
    /* margin-top: 250px; */
    margin-bottom: 20px;
  }
}
