* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
ul {
  position: "none";
}
.container {
  margin: auto;
  height: 100vh;
  width: 100%;
  background-image: url(/public/images/back.jpg);
  background-size: cover;
  background-position: center;
}

.cards {
  height: 500px;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.slick-slide > div {
  margin: 0 10px;
  height: 400px;
  width: 250px;
  margin-top: 50px;
}

.settings{
  border: 2px solid green;
}

.slick-dots {
  color: #fff;
  background-color: black;
  position: static;
  display: none;
  z-index: -1;
}

.slick-active {
  position: unset;
  display: none;
  /* background-color:green; */
}

.container h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
}

.card {
  margin: auto;
  height: 400px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #fff;
}

.profileDp {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("https://avatars.githubusercontent.com/u/83412207?s=400&u=7cb5a6a2891b24099fbe852c436e0f3f01e70a1d&v=4");
}

/* @media (max-width: 425px) {
  .slick-slide > div {
    width: 90%;
  }

  .slick-slide {
    height: 400px;
    width: 100%;
    color: #fff;
  }

  .cards {
    flex-wrap: wrap;
  }

  .card {
    height: 400px;
    width: 80%;
  }
} */
